version: '3.8'

services:

    zookeeper:
        image: "zookeeper:3.8.0-temurin"
        deploy:
            replicas: 1
        hostname: zook
        container_name: psql-zookeeper
        ports:
            - "2181:2181"
        
    postgres:
        image: "{{ image_name }}:{{ version }}"
        deploy:
            replicas: 1
        ports:
            - 5432:5432
            - 8091:8091
        container_name: "{{ project_name }}"
        network_mode: "host"
        environment:
            - POSTGRES_USER={{ project_name }}
            - POSTGRES_PASSWORD={{ pass_psql }}
            - PATRONI_API_CONNECT_PORT={{ patroni__port }}
            - REPLICATION_NAME={{ patroni__raplication_name }}
            - REPLICATION_PASS={{ patroni__raplication_pass }}
            - POSTGRES_APP_ROLE_PASS={{ patroni__app_role }}