[Unit]
Description={{ project_name }}
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker-compose -f /home/vagrant/config/docker-compose.yml down
ExecStartPre=-/usr/bin/docker pull {{ image_name }}:{{ version }}
ExecStart=/usr/bin/docker-compose -f /home/vagrant/config/docker-compose.yml up

SyslogIdentifier={{ project_name }}

[Install]
WantedBy=multi-user.target
