[Unit]
Description={{ project_name }}
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop {{ project_name }}
ExecStartPre=-/usr/bin/docker rm {{ project_name }}
ExecStartPre=-/usr/bin/docker pull {{ image_name }}:{{ version }}
ExecStart=/usr/bin/docker run --rm \
    --name {{ project_name }} \
    --network host \
    -v /etc/ssl/etcd/ssl/:/etc/ssl/etcd/ssl/ \
    -e POSTGRES_USER={{ project_name }} \
    -e POSTGRES_PASSWORD={{ pass_psql }} \
    -e PATRONI_API_CONNECT_PORT={{ patroni__port }} \
    -e REPLICATION_NAME={{ patroni__raplication_name }} \
    -e REPLICATION_PASS={{ patroni__raplication_pass }} \
    -e POSTGRES_APP_ROLE_PASS={{ patroni__app_role }} \
    -d {{ image_name }}:{{ version }}

SyslogIdentifier={{ project_name }}

[Install]
WantedBy=multi-user.target
